@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<My_Expenses.ViewModels.UserModel.UserOverviewDataModel>
@{
    ViewData["Title"] = "EmployeeOverview";
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/DefaultTable/Table.css" />
    <link rel="stylesheet" href="~/css/Home/Sidebar.css" />
}

<div class="contentContainer">

    <br />
    <h3>Employee overview</h3>
    <br />

    <table class="defaultTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee username</th>
                <th>Starting date</th>
                <th>Total daily sales</th>
                <th>Total expenses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.EmployeeUsername</td>
                    <td>@x.FirstSale.ToString("dddd, MMMM dd, yyyy")</td>
                    <td>@x.TotalDailySales</td>
                    <td>@x.TotalExpenses</td>
                    <td>
                        <a asp-action="EmployeeHistory">See history</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
