@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<My_Expenses.ViewModels.ProductModels.HomePageModel>
@{
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Home/HomePage.css" />
}
<div class="contentContainer">

    <a asp-action="AddProduct" class="btn btn-dark addBtn">Add product</a>
    <div class="scrollContainer">
        <table class="homePageTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Prize</th>
                    <th>Date added</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in @Model)
                {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Prize den.</td>
                    <td>@product.DateCreated</td>
                    <td>@product.Category</td>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@product.Id">Edit</a> |
                        <a asp-action="RemoveProduct" asp-route-id="@product.Id" onclick="return confirm(`Confirm delete action`)">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
